.addButton {
  width: 100%;
  display: flex;
  column-gap: 15px;
  align-items: center;

  border: none;
  background: none;
  padding: 0;
}

.title {
  font-size: 1.3rem;
  font-weight: normal;
}

@media (min-width: 401px) {
  .title {
    font-size: 1.6rem;
  }
}
@media (min-width: 801px) {
  .title {
    font-size: 1.9rem;
  }
}
