.menuButton {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #383636;
  border: none;
  border-radius: 50%;
  padding: 7px;
  width: 40px;
  aspect-ratio: 1;
}
