.item {
  width: 100%;
  min-height: 160px;
  height: 100%;
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #eee;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in transform;

  &:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }
}

.btn {
  width: 50%;
  border: none;
  background: none;
  padding: 0;

  & > svg {
    width: 80%;
    color: #227d56;
  }
}
