.form {
  max-width: 500px;
  padding: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-bottom: 20px;
}
.label {
  font-size: 1.5rem;
}
.input {
  font-size: 1.5rem;
  width: 100%;
  padding-top: 5px;
}
.btn {
  border: none;
  font-size: 1.5rem;
  background-color: #227d56;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
}

.errorLabel {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.125rem;
}
