.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

@media (min-width: 601px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 901px) {
  .list {
    grid-template-columns: repeat(4, 1fr);
  }
}
