.contentContainer {
  margin-top: 20px;
  max-width: var(--container-max-width);
  padding-inline: var(--container-padding-inline);
  margin-inline: auto;
}

.layout {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}

.header {
  display: none;
  position: sticky;
  top: 65px;
  z-index: 2;
  background-color: #333;
  padding-block: 10px;
  padding-inline: var(--container-padding-inline);
}

.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;

  position: sticky;
  top: 85px;
  width: 20%;
  height: calc(100vh - 85px);
  padding: 10px;
  padding-top: 0;
  border-right: 1px solid #eee;

  overflow-y: scroll;
  flex-wrap: nowrap;

  /* --- СКРЫТИЕ СКРОЛЛБАРА --- */
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: transparent;
  }
}

.menu {
  width: 80%;
}

@media (max-width: 1100px) {
  .categories {
    width: 25%;
  }
  .menu {
    width: 75%;
  }
}
@media (max-width: 900px) {
  .categories {
    display: none;
  }

  .header {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  .menu {
    width: 100%;
  }
}
